@media (max-width: 850px) {
  .rendmatrix-block-output {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 720px) {
  .close-btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .close-start-box *,
  .close-btns * {
    width: 45%;
  }
  .close-input-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .frame {
    padding: 0 6%;
  }
  .input-box {
    flex-direction: column;
    position: relative;
  }
  .rendmatrix-block-output {
    padding: 3rem 1rem;
  }
  .table-rand {
    margin-bottom: 1rem;
  }

  .form__input1 {
    margin-right: 0;
    width: 100%;
  }

  .form__input1 {
    margin-bottom: 0.5rem;
  }
  .rendmatrix-block-output {
    flex-direction: column;
  }
  .cell {
    max-width: 45px;
    max-height: 45px;
  }

  .form-close {
    width: 100%;
  }

  .close-btns {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .close-start-box *,
  .close-btns * {
    width: 100%;
  }
  .contact-form__form {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .txt-paint {
    display: none !important;
  }
  .btn,
  .form__input1 {
    text-align: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

/* ani */

.txt-paint {
  width: 100%;
  min-height: 5rem;
}

.shadow-flick {
  animation-name: shadow;
  animation-timing-function: linear;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}
.btn-calc {
  animation-name: scale;
  animation-timing-function: linear;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}
@keyframes scale {
  0% {
    box-shadow: 0 0 0 1px transparent;
  }
  50% {
    box-shadow: 0 0 0 4px #99fbb7;
  }
}

@keyframes shadow {
  0% {
    text-shadow: none;
    color: #fff;
  }
  10% {
    text-shadow: #99fbb7 1px 0 10px;
  }
  15% {
    text-shadow: none;
  }

  20% {
    text-shadow: #99fbb7 1px 0 10px;
  }

  23% {
    text-shadow: none;
  }
  30% {
    text-shadow: #99fbb7 1px 0 10px;
  }
  35% {
    text-shadow: none;
  }
  40% {
    color: #fff;
  }
  100% {
    text-shadow: none;
  }
}
.txt-paint {
  color: #10ff58;
  padding: 0.2rem;
  display: inline;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}
